<div class="container">
  <div class="form" [formGroup]="noteGroup">
    <mat-form-field appearance="outline">
      <mat-label>Add Title</mat-label>
      <input formControlName="title" matInput placeholder="Add a Note">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Add Note</mat-label>
      <textarea formControlName="content" #note matInput placeholder="Add a Note"></textarea>
    </mat-form-field>
  </div>
  <button (click)="saveNote()" mat-flat-button color="primary">Save Note</button>
  <div class="notes d-flex flex-row justify-content-around">
    <div *ngFor="let note of backendService.groupData.payload.notes" class="note">
      <mat-card class="p-3">
        <mat-card-title>
          <h4>{{note.title}}</h4>
        </mat-card-title>
        <mat-card-content>
          {{note.content}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="warn">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
