<mat-toolbar >
  <button matTooltip="Some Tip" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="flex-fill"></span>
  <div class="connection-box mx-3">
    <span (click)="backendService.disconnect()" *ngIf="backendService.isConnected"><mat-icon class="connected">wifi</mat-icon> Online</span>
    <span (click)="backendService.connect()" *ngIf="!backendService.isConnected"><mat-icon class="disconnected">wifi_off</mat-icon> Offline</span>
  </div>
  <span *ngIf="backendService.isLoggedIn">
    {{backendService.userData.firstName}} {{backendService.userData.lastName}}
  </span>
  <button [matMenuTriggerFor]="menu" mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <div class="column">
      <button [disabled]="!backendService.isLoggedIn" [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active" routerLink="/" mat-raised-button>
        Home
      </button>
      <button [disabled]="!backendService.isLoggedIn" routerLinkActive="active" routerLink="expenses" mat-raised-button>
        Expenses
      </button>
      <button [disabled]="!backendService.isLoggedIn" routerLinkActive="active" routerLink="assignments"
              mat-raised-button>Assignments
      </button>
      <button [disabled]="!backendService.isLoggedIn" routerLinkActive="active" routerLink="calendar" mat-raised-button>
        Calendar
      </button>
      <button [disabled]="!backendService.isLoggedIn" routerLinkActive="active" routerLink="notes" mat-raised-button>
        Notes
      </button>
      <button [disabled]="!backendService.isLoggedIn" routerLinkActive="active" routerLink="events" mat-raised-button>
        Events
      </button>
    </div>
  </mat-drawer>

  <div class="sidenav-main-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
<mat-menu #menu="matMenu">
  <button *ngIf="backendService.isLoggedIn" routerLink="settings" mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button *ngIf="backendService.isLoggedIn && !backendService.userData.apartmentId" (click)="openJoinDialog()"
          mat-menu-item>
    <mat-icon>add_circle</mat-icon>
    <span>Create/Join Apartment</span>
  </button>
  <button *ngIf="backendService.isLoggedIn" mat-menu-item>
    <mat-icon>help</mat-icon>
    <span>Help</span>
  </button>
  <button *ngIf="!backendService.isLoggedIn" routerLink="login" mat-menu-item>
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button (click)="logout()" *ngIf="backendService.isLoggedIn" mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>


